---
import { basics } from "@cv";

const { summary } = basics;
---

<section class="flex flex-col mt-10 gap-3">
    <h1 class="text-xl font-bold">Acerca de mi</h1>
    <p class="font-prime font-light text-gray-500 text-sm">{summary}</p>
</section>