---
import { ChevronRightIcon, ChevronDownIcon } from "../icons/experienceIcons";
import "@/styles/styles.scss";
---

<div class="tree-expand">
  <ChevronRightIcon size={20} />
</div>
<div class="tree-collapse">
  <ChevronDownIcon size={20} />
</div>

<!-- <style lang="scss">
  // div.tree-expand {
  //   display: none;
  // }
  // div.tree-collapse {
  //   display: block;
  // }
</style> -->
