---
import { ChevronRightIcon } from "../icons/experienceIcons";
---

<header
  class="flex flex-row lg:justify-between w-full items-center lg:items-start"
>
  <article class="flex items-center pl-4 lg:pl-16 pt-6 lg:pt-12">
    <img src="" alt="" />
    <p class="text-black text-5xl font-prime font-bold italic">sanss</p>
  </article>
  <article class="flex justify-end items-center lg:items-start h-full w-full pt-4 lg:pt-5 pr-5">
    <a
      href="/cv/"
      class="flex items-end text-sm p-1 px-2 rounded-lg backdrop-blur-md bg-white bg-opacity-40 hover:bg-opacity-70"
      >Simple Curriculum
      <ChevronRightIcon size={20} />
    </a>
  </article>
</header>
