---
import { TwitterIcon, LinkedInIcon, GitHubIcon } from "../icons/socialIcons";
---

<a
href="https://twitter.com/Sansso_" target="_blank"
  class="flex p-2 place-items-center rounded-full text-[#3f8ad6] bg-white bg-opacity-40 hover:bg-white hover:bg-opacity-60 cursor-pointer"
>
  <TwitterIcon size={20} />
</a>

<a
href="https://github.com/Sannso" target="_blank"
  class="flex p-2 place-items-center rounded-full text-black bg-white bg-opacity-40 hover:bg-white hover:bg-opacity-60 cursor-pointer"
>
  <GitHubIcon size={20} />
</a>

<a
href="https://www.linkedin.com/in/sannso" target="_blank"
  class="flex p-2 place-items-center rounded-full text-[#3449c5] bg-white bg-opacity-40 hover:bg-white hover:bg-opacity-60 cursor-pointer"
>
  <LinkedInIcon size={24} />
</a>
