---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/courier-prime/400-italic.css";
import "@fontsource/courier-prime";
import { ViewTransitions } from "astro:transitions";
import { IMAGE } from "../constants";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body style={{ backgroundImage: IMAGE() }}>
    <slot />
  </body>
  
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol;
      background: #13151a;

      height: 100%;
    }

    body {
      background: #222;
      letter-spacing: -0.01rem;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        "Courier Prime",
        sans-serif;
    }
  </style>
</html>
